= link_to 'back' , about_path 
%h1 Feature
%p Feature : Log in to the Apartment Application 
%p &nbsp&nbsp	As a tenant. 
%p &nbsp&nbsp	So that I can log in to my user system. 
%p &nbsp&nbsp	I want to log in to the system. 
%p &nbsp
%p &nbsp
%p Feature : Sign up to the Apartment Application 
%p &nbsp&nbsp	As a tenant. 
%p &nbsp&nbsp	So that I can sign up for user system. 
%p &nbsp&nbsp	I want to register for login. 
%p &nbsp
%p &nbsp
%p Feature : Show the application function 
%p &nbsp&nbsp	As a tenant. 
%p &nbsp&nbsp	So that I can link to the function that I want to use. 
%p &nbsp&nbsp	I want to link into the function I want to use.
%p &nbsp
%p &nbsp
%p Feature : Show a rental from Apartment
%p &nbsp&nbsp   As a tenant.
%p &nbsp&nbsp   So that I can see my rental.
%p &nbsp&nbsp   I want to know the rental.
%p &nbsp
%p &nbsp
%p Feature : Add a repair notification
%p &nbsp&nbsp   As a tenant.
%p &nbsp&nbsp   So that I can request about repair notification.
%p &nbsp&nbsp   I want to add the repair notification.
%p &nbsp
%p &nbsp
%p Feature : Show a tenant payment
%p &nbsp&nbsp   As a tenant.
%p &nbsp&nbsp   So that I can know my payment.
%p &nbsp&nbsp   I want to assure about my payment.
%p &nbsp
%p &nbsp
%p Feature : Show the tenant details
%p &nbsp&nbsp   As a lessor.
%p &nbsp&nbsp   So that I can know the tenant details.
%p &nbsp&nbsp   I want to know the tenant details of each room.
