%body.user
%table#left 
 %tr
  %td= link_to image_tag( 'b_logout.jpg'), sessions_destroy_path


%br
%br
%br
%br
%br
%br
%br
%br

%tr
 %td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 %td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 %td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 %td &nbsp&nbsp&nbsp&nbsp&nbsp
 %td=@user.room_no
 %td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 %td &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 %td=@user.name 
 %td=@user.surname
%br
%br
%br
%br
%br
%table
 %tr
  %td= link_to image_tag( 'b_rental.jpg'), show_rental_path(@user) ,id: "1"
 %tr
  %td.delete= link_to image_tag( 'b_tenant.jpg'), information_path(@user) ,alt: "Tenant Information"
 %tr
  %td= link_to image_tag( 'b_repair.jpg'), new_repair_path

  
