
.rental{
	background-image:url('add_rental.jpg');
    background-size: 1400px 700px;
}
.show{
	background-image:url('show_rental.jpg');
    background-size: 1400px 700px;
}

table#rent,tr#rent,td#rent
   {
       margin-left: auto;
       margin-right: auto;
       font-size:20px;
       padding:7px;
   }
