// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

   body 
   {
    
        font-family: "droid-sans-mono-1","droid-sans-mono-2", monaco, courier, monospace;
        background-image:url('bgall.jpg');
        background-size: 1400px 700px;
        padding: 0;
       
   }
   table,tr,td
   {
       margin-left: auto;
       margin-right: auto;
       font-size:20px;
       
   }
   
   .mid{ text-align:center; }

   .user{ background-image:url('user.jpg');
        background-size: 1400px 700px; }

   .tenant{ background-image:url('tenant.jpg');
        background-size: 1400px 700px; }
   .repair{ background-image:url('new_repair.jpg');
        background-size: 1400px 700px; }

   .textbig{ font-size:30px;padding: 10px; }

   .TenantInformation{}

   #left{ margin-left:0;text-align:left; }
   #right{ margin-right:0; }

   p#h1{text-align: center;
        font-size:50px;}
   p#center{text-align: center;
        font-size:25px;}

   table#left{margin-right:0;
              width:100%;
              padding:30;
              text-align:right;}